# Database
DATABASE_URL=sqlite:flashy.db

# Admin bootstrap (created on first start if no admin exists)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_EMAIL=admin@example.com

# Session cookie settings
SESSION_SAME_SITE=lax
SESSION_SECURE=false
